*{
    padding: 0;
    margin: 0;
}
body {
    width: 100vw;
    height: 100vh;
    display: flex;
    position: relative;
    text-align: center;
    overflow: hidden;
}
.container-geral{

    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: #6C7A89;

}
div {
    margin-top: 20px;
}
button{
    color: white;
    background-color: rgb(53, 77, 90);
    border-radius: 5px;
    width: 50px;
    height: 20px;
}
.container-form{

    width: 300px;
    height: 140px;
    background: #fff;
    padding: 25px;
    text-align: center;
}

h1{

    width: 100%;
    height: 25vh;
    background: #6C7A89;
    text-align: center;
    margin: 0;
    text-align: center;
}

.toolbar{

    width: 100%;
    margin: 0;
    background: #ccc;
    text-align: center;
}

.toolbar h2{
    margin: 0;
    float: left;
    width: 50%;
    text-align: center;
    background-color: #ccc;
}